body {
    box-sizing: border-box;
}

.header, .main__search, .voice__bot__container, .voice__bot, .form, .logo__container {
    display: flex;
}

.voice__bot__container, .form {
    flex-direction: column;
}

.voice__bot__container {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}