body {
    box-sizing: border-box;
}

.voice__bot__container, .voice__bot {
    display: flex;
}

.voice__bot__container {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}